.fform{
    padding: 10%;
    margin-top: 10%;
    border-radius: 2px;
    border-radius:15px;
    border: 2px solid black;
    height:400px;
}

.card:hover{
    box-shadow: 0px 0px 10px rgb(40, 42, 43);
}

.tr{
    margin:'20px';
    padding:'20px';
}


.btn{
    border-radius:0px;
}