.watchclass{
    width: 100%;
}


.watchdesciption{
    width:100%;
    height:50px;
    box-shadow: 0px 0px 1px #888888;
}

.watchlist{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;    
}

.watchlistcontainer{
    border:1px solid rgb(148, 140, 140);
    margin-bottom: 10px;
    height:60px;
    box-shadow: 0px 0px 50px #888888;
}

.watchlistcontainer:hover {
    background: #666;
}
.watchlistcontainerhead{
    font-size: 20px;
}

.watchlistcontainerbody{
    font-size:12px;
}